*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins',sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100%;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#0062be;
    transition: 0.5s;
}

header{
    position: relative;
}